@font-face {
    font-family: pixellari;
    src: url(../fonts/pixellari.woff) format('woff');
}

@keyframes ganar{
    from{
        opacity: 0;
        transform: scale(0);
    }
    60%{
        opacity: 1;
        transform: scale(1.15);
    }
    to{
        transform: scale(1);
        pointer-events: all;
    }
}

p{
    color:white;
    font-size: x-large;
    margin: 1vh;
}

body{
    margin: 0;
    text-align: center;
    font-size: larger;
    font-family: pixellari, sans-serif;
    background-image: url(../img/mesa.jpg);
    background-repeat: repeat;
    background-size: auto;
}

input{
    margin-top: 1vh;
    padding: 1vh;
    font-family: pixellari, sans-serif;
    font-size: larger;
    cursor: pointer;
    border-radius: 1vh;
    border: none;
}

div.ochoreinas{
    color:blanchedalmond;
    position: fixed;
    top: 30vh;
    width: 100%;
    padding: 2vw;
    padding-left: 0;
    background-color: rgba(75, 75, 234, 0.84);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    pointer-events: none;
    animation: ganar 600ms cubic-bezier(.03,.84,.58,1) forwards paused;
}

#ganaste{
    font-size: 7vw;
    margin-bottom: 1vh;
}

#retry{
    font-size: 3vw;
}

#retry:hover{
    cursor:pointer;
    color: rgb(149, 131, 255);
}

table{
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin: 1vh auto;
    width: 40vw;
    height: 40vw;
}

tr, td{
    border: none;
}

td.celda{
    background-image: none;
    cursor: pointer;
    height: 11%;
    width: 11%;
}

td.celda:hover{
    background-image: url(../img/reina.png);
    background-size: cover;
}

td.reina{
    background-image: url(../img/reina.png);
    background-size: cover;
}

td.reina:hover{
    background-image: url(../img/cancelado.png);
}

td.inactivo{
    background-image: url(../img/lineas.png);
    background-size: cover;
    pointer-events: none;
}

tr:nth-child(even) td:nth-child(odd), tr:nth-child(odd) td:nth-child(even){
    background-color: #1a0404;
}

tr:nth-child(odd) td:nth-child(odd), tr:nth-child(even) td:nth-child(even){
    background-color: #ffe7bd;
}

td:first-child, td:last-child, tr:first-child > td, tr:last-child > td{
    background-color: #72422e !important;
    color: wheat;
}

/*para pantalla de celular*/
@media only screen and (max-width: 768px) {
    table{
        width: 90vw;
        height: 90vw;
        margin: 7vh auto;
    }

    p{
        font-size: x-large;
        margin-top: 7vh;
    }

    div.ochoreinas{
        top: 35vh;
        width: 100%;
        padding: 2vw;
        padding-left: 0;
        background-color: rgba(75, 75, 234, 0.84);
        color:blanchedalmond;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    }
    
    #ganaste{
        font-size: 10vw;
    }
    
    #retry{
        margin: 5vh 0;
        font-size: 6vw;
    }
}

