
table{
    /*definimos el grosor de la linea*/
    /*border: 0.5vw solid #251608;*/
    border-collapse: collapse;
    outline: 2vw solid #5d311f;
    margin: 6vh auto;
    width: 40vw;
    height: 40vw;
}
tr, td{
    border: none;
}
td{
    cursor: pointer;
    height: 5%;
    width: 5%;
}
tr:nth-child(even) td:nth-child(odd), tr:nth-child(odd) td:nth-child(even){
    background-color: #1a0404;
}
tr:nth-child(odd) td:nth-child(odd), tr:nth-child(even) td:nth-child(even){
    background-color: #ffe7bd;
}
@media only screen and (max-width: 768px) {
    table{
        width: 80vw;
        height: 80vw;
        outline: 4vw outset #5d311f;
        margin: 10vh auto;
    }
}

